<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><span style='color: black' style='font-weight: bold'>My</span><span style='color: white' style='font-weight: bold'>News</span></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons black-text">Menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li class="scrapeRefresh" >
                    <a href="/" class="modal-trigger" style='font-weight: bold' data-target="modal-NewsFeed">Return to News Feed</a>
                </li>
                
            </ul>
    </div>
</nav>

    <ul class="sidenav" id="mobile-demo">
        <li class="scrapeRefresh" >
            <a href="/" class="black-text modal-trigger" data-target="modal-NewsFeed">Return to News Feed</a>
        </li>
        
    </ul>

<div id="container" class="container col s12 m8 l8">
    <div class="col s12 m8 l8">
        <ul class="collection with-header">
            {{#each stories}}
                <li class="collection-header" data-id={{id}} class='item-Title'>{{title}} </li>
                <li class="collection-item" data-id={{id}} class ='item-Summary'>Summary:  {{summary}} </li>
               
                <li class="collection-item" class ='item-Summary'>
                    <form class='create-form'>
                        <input type='text' id="comment-input" placeholder="Insert comment">
                        <input type='text' id="author-input" placeholder="username">
                         <button class="btn-small red"  data-id={{id}} data-target="modal-oneArticle" class="btn modal-trigger" id="addNote-btn">Add Comment</button>
                    </form>

                </li>
                <li class="collection-item" data-id={{id}} class='item-existing-comments'>
                    <ul class="collection with-header">
                        {{#each notes}}
                            <li class="collection-item" class="item-Comment">{{body}}  --{{author}}</li>
                        {{/each}}
                    </ul>
                </li>
            {{/each}}
        
        </ul>
    </div>
</div>

<!-- Modal Structure -->
{{!-- <div id="modal-oneArticle" class="modal">
    <div class="modal-content">
        <h1>Your Comment</h1>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat">Close</a>
    </div>
</div> --}}

                {{!-- <li class="collection-item" class ='item-Summary'>
                    <form class="create-form" method="post">
                            <input type='text' class="commentBody" name='content'  placeholder="Insert Comment">
                            <input type='text' class="commentAuthor" name='author'  placeholder="Enter Username">
                            <input value={{_id}} name='id' type='hidden'>
                        <button class="btn-small red" value="Comment" class="commentAdd">Submit</button>
                    </form>
                </li> --}}