<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><span style='color: black' style='font-weight: bold'>My</span><span style='color: white' style='font-weight: bold'>News</span></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons black-text">Menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li class="scrapeRefresh" >
                    <a id="update" href="#" class="modal-trigger" style='font-weight: bold' data-target="modal-scrapeRefresh">Update News</a>
                </li>
                <li class="scrapeRefresh" >
                    <a id="savedArticles" href="/savedArticles" class="modal-trigger" style='font-weight: bold' data-target="modal-savedArticles">Saved Articles</a>
                </li>
            </ul>
    </div>
</nav>

    <ul class="sidenav" id="mobile-demo">
        <li class="scrapeRefresh" >
            <a id="update" href="#" class="black-text modal-trigger" data-target="modal-scrapeRefresh">Update News</a>
        </li>
        <li class="scrapeRefresh" >
            <a id="savedArticles" href="/savedArticles" class="black-text modal-trigger" data-target="modal-savedArticles">Saved Articles</a>
        </li>
    </ul>

<div id="container" class="container col s12 m8 l8">
    <div class="col s12 m8 l8">
        <ul class="collection with-header">
            {{#each stories}}
                <li class="collection-header" data-id={{id}} class='item-Title'>{{title}} </li>
                <li class="collection-item" data-id={{id}} class ='item-Link' href={{link}}><a>{{link}}</a> </li>
                <li class="collection-item" data-id={{id}} class ='item-Summary'>Summary:  {{summary}} </li>
               
                <li class="collection-item" class ='item-Summary'>
                    <form class='create-form' method="post">
                        <button class="btn-small red"  data-id={{id}} data-target="modal-savedArticles" class="modal-trigger" id="saved-btn">Save</button> <button class="btn-small red"  data-id={{id}} data-target="modal-savedArticles" class="modal-trigger" id="delete-btn">Delete</button>
                    </form>
                </li>
            {{/each}}
        
        </ul>
    </div>


</div>



                {{!-- <li class="collection-item" class ='item-Summary'>
                    <form class="create-form" method="post">
                            <input type='text' class="commentBody" name='content'  placeholder="Insert Comment">
                            <input type='text' class="commentAuthor" name='author'  placeholder="Enter Username">
                            <input value={{_id}} name='id' type='hidden'>
                        <button class="btn-small red" value="Comment" class="commentAdd">Submit</button>
                    </form>
                </li> --}}