<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><span style='color: black' style='font-weight: bold'>My</span><span style='color: white' style='font-weight: bold'>News</span></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons black-text">Menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li class="scrapeRefresh" >
                <a href="#" class="modal-trigger" style='font-weight: bold' data-target="modal-scrapeRefresh">Update News</a>
            </li>
        </ul>
    </div>
</nav>

    <ul class="sidenav" id="mobile-demo">
        <li class="scrapeRefresh" >
            <a href="#" class="black-text modal-trigger" data-target="modal-scrapeRefresh">Refresh</a>
        </li>
    </ul>

<div id="container" class="container col s12 m8 l8">
    <div class="col s12 m8 l8">
        <ul class="collection with-header">
            {{#each stories}}
                <li class="collection-header" class='item-Title'>{{title}} </li>
                <li class="collection-item" class ='item-Link' herf={{link}}><a>{{link}}</a> </li>
                <li class="collection-item" class ='item-Summary'>Summary:  {{summary}} </li>
                <li class="collection-item" class ='item-Comments'>Comments: 
                    <div>
                        <ul id='userComments'>
                    
                        </ul>
                    </div>
                </li>
                <li class="collection-item" class ='item-Summary'>
                    <form class="create-form" action="/update-comment" method="post">
                            <input type='text' class="commentBody" name='content'  placeholder="Insert Comment">
                            <input type='text' class="commentAuthor" name='author'  placeholder="Enter Username">
                            <input value={{_id}} name='id' type='hidden'>
                        <button class="btn-small red" type='submit' value="Comment">Submit</button>
                    </form>
                </li>
                <div></div>
            {{/each}}
        
        </ul>
    </div>


</div>

